.top{
    width: 100%;
    height: 90px;
    margin: auto;

    background: rgba(255,255,255,0.1);
    color: white;
}
.t2{
    width: 820px;
}
td a{
    display: block;
    float: left;
    color: #2073e3;
    font-weight: bold;
}
.p1{
    display: inline-block;
    color: grey;
    font-size: 13px;
    font-weight:200;
    margin-left: 13px;
    margin-top: 10px;
}
.p2{
    display: block;
    color: grey;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
    font-weight:200;
}
.con-three-bot-left{
    float: left;
    margin-top: 20px;

}
.con-three-bot-mid{
    float: left;
    margin-top: 20px;

}
.con-three-bot-right{
    float: left;
    margin-top: 20px;
    margin-left: 20px;

}
.top h5{
    margin-right: 20px;
}