.back-test-box2{
    width: 95%;
    height: 285px;
    background: rgba(0,0,0,.4);
    margin: auto;
    position: relative;
    display: none;
    overflow-y:auto;
}
.loginbox1{
	width: 100%;
    height: 90px;
    margin: auto;
    background: rgba(255,255,255,0.1);
    color: white;
    display: none;
}
.loginbox1 b{
	width:300px;
	heihgt:50px;
	font-size:25px;
	display:block;
	margin:auto;
	text-align:center;
	
}
.loginbox1 a{
	color:#cccccc;
}
.loginbox1 a:hover{
	color:#2073e3;
}



.loginbox2{
	width: 100%;
    height: 90px;
    margin: auto;
    background: rgba(255,255,255,0.1);
    color: white;
    display: none;
}
.loginbox2 b{
	width:300px;
	heihgt:50px;
	font-size:25px;
	display:block;
	margin:auto;
	text-align:center;
}
.loginbox2 a{
	color:#cccccc;
}
.loginbox2 a:hover{
	color:#2073e3;
}