body{
	margin:0;
	padding:0;
}
.contain{
	width:450px;
	height:480px;
	border:4px solid blue;
	margin-left:100px;
	margin-top:10px;
}

.layui-tab{
    width:100%;
    height:100%; 
}
.one{
	font-size: 25px;
	margin-left: 20px;
	margin-top: 10px;
}
.layui-input-block{
	width:250px;
}
